.classpath,.project,.settings/org.eclipse.core.resources.prefs,bin/luaorbit/model/Project.class,bin/luaorbit/model/ProjectConfiguration.class,bin/luaorbit/model/ProjectFile.class,bin/luaorbit/model/ProjectFolder.class,bin/luaorbit/model/Workspace.class,bin/luaorbit/model/WorkspaceConfiguration.class,bin/luaorbit/service/ProjectService.class
